.App {
  text-align: center;
  background-color: #8dc1f1;
  height: 100vh;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 125px;
  background-color: #8dc1f1;
}

.column {
  flex: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;
  padding: 10px;
}

.column-left {
  flex: 55%;
  margin-right: 2.25rem;
  background-color: white;
}

.column-right {
  flex: 40%;
  background-color: white;
}

@media screen and (max-width: 442px) {
  .columns {
    width: 100%;
  }
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
